---
permalink: /search/index1.json
---
[
{%- for page in collections.pages -%}
{
"url": "{{ page.url }}",
"content": "{{ page.templateContent | safe }}"
}
{% if loop.last == false %},{% endif %}{% endfor -%} 
]
